@media (max-width: 600px) {
    .controls {
        flex-direction: column;
        align-items: center;
    }
    #city, #searchBtn, #select {
        width: 100%;
        max-width: 400px;
    }
}
h1 {
    text-align: center;
    color: lightskyblue;
}